# =====================
# Python
# =====================

__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# Environment variables
.env

# VSCode
.vscode/

# SQLite
*.db

# Logs
*.log

# macOS / Windows
.DS_Store
Thumbs.db